.pos_body{
    top:2%;
    left:20%;
    position: absolute;
}

.nav_bot{
    width: 0.5em !important;
    height: 0.5em !important;
}
.start_nav{
    visibility:hidden;
}

.bg-light{
    background-color:black !important;
}
.nav{
    background-color:#FFFFFF;
    width:70%;
    margin-right:15%;
    display: inline-block;
    padding-left:10%;
    box-shadow: 0px 0px 50px #000000;
    border-radius: 0 0 20px 20px;
}

.work_fine_name{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 70%;
    line-height: 100%;
    text-transform: uppercase;
}

.work_bottom_data_file{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 60%;
    line-height: 100%;
    /* identical to box height */

    text-align: justify;
}

.text-content{
    display: inline-block;
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    color: #0C3440;
    padding: .5rem 1rem;
}

.text-nav-left{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 26px !important;
    line-height: 59px;
    text-align: justify;
    text-transform: uppercase;
    color: #0C3440;
}

.menu-text{
    font-family: Montserrat;
    font-weight: 500;
    line-height: 20px;
    text-align: right;
    text-transform: uppercase;
    color:rgba(235, 87, 87, 1) !important;
}

.line {
    border-left: 2px solid #ccc; /* Параметры линии */
    margin-left: 20px; /* Отступ слева */
    padding-left: 10px; /* Расстояние от линии до текста */
   }

.work_left_margin{
    padding-right:100px;
}

.nav_connect{
    background-color:#FFFFFF;
    width:5%;
}

.conn{
    margin-top:10%;
}

.data{
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #4E6D76;
    transform: rotate(-90deg);
    width:70%
}

.about_topline{
    display:inline-block;
    width: 90%;
    float: left;
    padding: 10px;
    padding-top:5px;
}

.about_citata{
    font-family: PT Serif;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    padding-right: 1%;
    margin: 0%;
    color: #4E6D76;
}

.about_top_block{
    padding-top: 2%;
    padding-right: 1%;

}

.about_top_text{
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 10px;
    text-align: justify;
}

.about_middle_block{
    background: #D9E4DF;
    border-radius: 15px;
    margin-left: 25px;
    margin-top: 5px;
}

.about_middle_text{
    font-family: PT Serif;
    font-style: italic;
    font-size: 12px;
    line-height: 24px;
    text-align: justify;
    color: #0C3440;
    padding: 20px;
}

.about_bottom{
    width: 10%;
    float: left;
}

.about_end_block{
    width: 60%;
    float: left;
}

.about_end_block_text1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #EB5757;
    padding-top: 5px;
    margin: 0px;
}

.about_end_block_text2{
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    color: #4E6D76;
}

.cv_photo{
    width: 25%;
    float: left;
}

.cv_citata_block{
    width: 75%;
    float: left;
    text-align: right;
    height: 2%;
}

.cv_citata_text{
    font-family: PT Serif;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #4E6D76;
    margin-bottom: 0.4%;
}

.cv_top_block{
    width: 75%;
    float: left;
}

.cv_top_text{
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.1;
    margin-left: 4%;
    color: #0C3440;
    margin-bottom: 1%;
}

.cv_top_text_italic{
    font-family: PT Serif;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
    color: #0C3440;
    text-align: left;
    margin-left: 4%;
    margin-bottom: 1%;
    line-height: 15px;
}

.cv_middle_block{
    width: 80%;
    float: left;
    margin-left: 5%;
}

.cv_middle_heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #0C3440;
    margin-bottom: 0.6%;
    margin-top: 3%;
}
.left_work{
    display: inline-block;
    width: 20%;
    border-right:1px solid #D9E4DF;
}
.left_work>div{width:75%;}

.work_img{
    margin-top:100%;
}
.work_img_text{
    width:90%;
    float:right;
}
.work_winos{
    display: inline-block;
    width:75%;
}
.phone_img{display: none;}
.literatyra{display: none;}
@media screen and (max-device-width: 991px) {
    .work_img_text{
        width: 75% !important;
    }
    .work_fine_name{
        font-size: 2vh !important;
        line-height: 2vh !important;
    }
    .work_bottom_data_file{
        font-size: 1.8vh !important;
        line-height: 2vh !important;
    }
    .work_winos{width: 100% !important;}
    .work_img{
        display: none !important;
        width: 0% !important;
        margin-top: 0% !important;
    }
    .left_work{
        border-right: 0px !important;
        width: 100% !important;
    }
    .left_work>div{
        align-content: center;
        width: 100% !important;
    }
    .custom-toggler{
        width: 2em !important;
        height: 2em !important;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }
    body{
        display: flex;
        background-image: none !important;
    }
    .cv_photo{
        width: 100% !important;
    }
    .cv_top_text, .cv_top_text_italic{margin-left: 0%;}
    img{
        border-radius: 100px;
        width: 100% !important;
        height: 100% !important;
    }
    .about_middle_block{
        margin-left: 0px !important;
    }
    .nav {
        margin-right: 0% !important;
        box-shadow: 0 0 0 0 !important;
        width: 100%;
        border-radius:0;
        display: inline-flex;
        }
    .disk{font-size: 100%}
    .about_middle_text{
        font-size: 50%;
    }
    .cv_top_block{
        width: 100% !important;
        margin-right: 10% !important;
    }
    .cv_middle_block{
        margin-left: 0% !important;
        width: 100% !important;
        margin-right: 10% !important;
    }
    .about_end_block_text1{font-size: 80% !important;}
    .about_end_block_text2{font-size: 80% !important;}
    .about_bottom_text{font-size: 50%;}
    .about_end_block{margin-left: 8% !important;}
    .about_bottom{margin-top: 4%;}
    .about_topline{
        width:100%;
        padding:0px !important;
        padding-top: 0px !important;
    }
    .img_file {
        margin-top: 5% !important;
        width: 20% !important;
        height: 20% !important;
        border-radius: 0px !important;
    }

    *{
        font-size: 3vh !important;
        line-height: 4vh !important;
    }
    .text-nav-left{
        margin-right: 0px !important;
        font-size: 5.5vw !important;
        color:white !important;
    }
    .about_citata{line-height:250%;}
    .start_nav{visibility:visible;}
    .nav_connect{
        visibility:hidden;
        height: 0;
    }
    .phone_img{
        display: inline-block;
        width: 9% !important;
        border-radius: 0px !important;
    }
   }

