{% extends 'syit/base_all.html' %}
{% block title %}{{ theme }}{% endblock %}
{% block type %}{{ theme }}{% endblock %}
{% block content %}
<div class="citata"><a>«… вредно не ехать на бал,<br />
    когда ты этого заслуживаешь»<br />
    Е. Шварц. «Золушка»</a></div>
<div>
    <a>Все говорят с миром по-разному: один человек рисует картины, другой сочиняет музыку, третий фотографирует или вяжет крючком. Я пишу тексты, пишу довольно давно — лет двадцать, наверное. На этом сайте размещены тексты, которые мне удобно иметь под рукой.<br /><br />
    Что-то писалось просто так, чтобы высказаться, что-то писалось под заказ, например, для публикации. Долгое время тексты были раскиданы в разных сетевых местах: несколько раз переделывался этот сайт, в какие-то периоды я активно вел ЖЖ, писал в соцсети, потом был блог на Blogspot. Но в итоге захотелось собрать все воедино. Написано было много, но здесь оставлено то, чем и сегодня я считаю возможным поделиться — иногда бывает удобно просто послать ссылку другому человеку, а не пересказывать, о чем уже когда-то думал и писал.<br /><br />
    На этом сайте нет возможности оставлять комментарии —  написанное ранее незачем комментировать, а анонсы новых текстов публикуются в Facebook.<br /></a>
</div>
{% endblock %}