{% extends 'syit/base_all.html' %}
{% load static %}
{% block title %}{{ theme }}{% endblock %}
{% block type %}{{ theme }}{% endblock %}
{% block content %}
<form action="{% url 'life_create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <b>Файл pdf</b><br />
    {{ form.file_name }}
    <br /><b>Название файла</b><br />
    {{ form.tag }}
    <br /><b>Нижняя мелкая подпись</b><br />
    {{ form.page_text }}
    <div class="st">
        <input type="submit" class="but float-left" value="Отправить">
        <input type="button" class="but float-right" value="Назад" onclick="window.location.href='/life'">
    </div>
</form>
{% endblock %}