{% extends 'syit/base_all.html' %}
{% load static %}
{% block title %}{{ theme }}{% endblock %}
{% block type %}{{ theme }}{% endblock %}
{% block content %}
<form action="{% url 'work_create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <b>Файл pdf</b><br />
    <a>{{ form.name_file }} или url {{ form.url }}</a>
    <br /><b>Дата</b><br />
    {{ form.date }}
    <br /><b>Название файла</b><br />
    {{ form.title }}
    <br /><b>Нижняя мелкая подпись</b><br />
    {{ form.title_low }}
    <div class="st">
        <input type="submit" class="but float-left" value="Отправить">
        <input type="button" class="but float-right" value="Назад" onclick="window.location.href='/line'">
    </div>
</form>
{% endblock %}