{% extends 'syit/base_all.html' %}
{% load static %}
{% block title %}{{ theme }}{% endblock %}
{% block type %}{{ theme }}{% endblock %}
{% block content %}

<div class="cv_photo">
    <img src="{% static 'img/cv_photo.png' %}" width="155" height="165">
</div>
<div class="cv_citata_block">
    <p class="cv_citata_text">Я не ищу работу, она обычно сама меня находит...</p>
</div>
<div class="cv_top_block">
    <p class="cv_top_text" style="font-size: 17px;"><b>Ээльмаа Юрий Владимирович</b></p>
    <p class="cv_top_text_italic">Родился в 1975 году в Ленинграде</p>
    <p class="cv_top_text">Всю жизнь работаю в образовании. Учил детей литературе. Работал в районных и городских центрах повышения квалификации педагогов.
        Разрабатывал и воплощал образовательные ИТ-проекты. Преподавал в вузе. В 2014-2018 гг. был членом управленческой команды под руководством Алексея Каспржака
        в Международном детском центре «Артек», отвечал за направления, связанные с идеологией и содержательным развитием организации.
        В настоящее время — проректор по инновационной деятельности СПбАППО.</p>
</div>
<div class="cv_middle_block_left">
    <div>
        <p class="cv_middle_heading">образование</p>
        <p class="cv_top_text" style="margin-left: 0%; margin-bottom: 0%;">Учитель русского языка и литературы, ​РГПУ им. А.И. Герцена (1998)</p>
        <p class="cv_top_text_italic" style="margin-left: 0%; margin-bottom: 1.2%;">Диплом «Тема смерти в художественном творчестве Альбера Камю»</p>
        <p class="cv_top_text" style="margin-left: 0%; margin-bottom: 0%;">Кандидат педагогических наук, ​РГПУ им. А.И. Герцена (2004)</p>
        <p class="cv_top_text_italic" style="margin-left: 0%;">Диссертация «Методико-литературный интернет-сайт как пространство диалога науки и школьной практики»</p> 
    </div>
    <div>
        <p class="cv_middle_heading">Основная деятельность</p>
        <p class="cv_top_text" style="margin-left: 0%; margin-bottom: 0%;">Управление образовательными проектами.</p>
    </div>
    <div>
        <p class="cv_middle_heading">профессиональный опыт</p>
        <p class="cv_top_text" style="margin-left: 0%;">— Создание концепций и реализация проектов, построенных в логике государственной образовательной политики.</p>
        <p class="cv_top_text" style="margin-left: 0%;">— Организация мероприятий образовательной тематики ( концепция и реализация «ИТНШ», кластер «Пятая четверть» в программе ММСО, программный директор АртекФорума с умением воплощать интересные концепции в неформальных, событийных, оригинальных форматах.</p>
        <p class="cv_top_text" style="margin-left: 0%;">— «Дизайнерское мышление» в разработке образовательных проектов.</p>
        <p class="cv_top_text" style="margin-left: 0%;">— Ориентация в современных образовательных системах, теориях и практиках обучения, анализ образовательных программ различных видов.</p>
        <p class="cv_top_text" style="margin-left: 0%;">— Работа с персоналом (обучение, мотивация, обмен опытом), широкий круг профессиональных контактов в российском образовании (см. «Карту лидеров инноваций в образовании»).</p>
        <p class="cv_top_text" style="margin-left: 0%;">— Опыт публичных выступлений перед педагогической и управленческой аудиториями, публикации в профессиональных изданиях.</p>
        <p class="cv_top_text" style="margin-left: 0%;">— Владение современными ИТ на уровне advanced user, в том числе образовательными платформами (Moodle, экосистема Google), создание и внедрение информационных ресурсов для обучения.</p>
        <p class="cv_top_text" style="margin-left: 0%;">— Опыт разработки, внедрения и сопровождения образовательных ИТ-проектов.</p>
    </div>
</div>
<div class="cv_middle_block_right">
    <div class="cv_phone_number_block">
        <p style="display:inline-block;" class="cv_phone_number_text">+7 (911) 147-57-17</p>
    </div>
    <div class="cv_phone_number_block">
        <p style="display:inline-block;" class="cv_phone_number_text">eelmaa@gmail.com</p>
    </div>
    <div class="cv_language_img_block">
        <img src="{% static 'img/russian.jpg' %}" width="30" height="30" class="cv_language_img">
    </div>
    <div class="cv_language_text_block">
        <p class="cv_language_text" style="font-weight: bold; margin-top: 6%;">Русский</p>
        <p class="cv_language_text" style="margin-bottom: 3%;">профессионально</p>
    </div>
    <div class="cv_language_img_block" style="margin-top: 10%;">
        <img src="{% static 'img/eng.jpg' %}" width="30" height="30" class="cv_language_img">
    </div>
    <div class="cv_language_text_block" style="margin-top: 12%;">
        <p class="cv_language_text" style="font-weight: bold;">English</p>
        <p class="cv_language_text" style="margin-bottom: 3%;">intermediate</p>
    </div>
    <div>
        <img src="{% static 'img/cv_resume.png' %}" width="100" height="130" class="cv_resume_photo">
    </div>
</div>

<div class="cv_language_text">
        <img src="{% static 'img/eng.jpg' %}" width="25" height="25" class="cv_language_img">
    </div>
    <div class="cv_language">
        <p class="cv_language_text" style="font-weight: bold;">English</p>
        <p class="cv_language_text">intermediate</p>
    </div>
</div>
{% endblock %}