{% extends 'syit/base_all.html' %}
{% block title %}{{ theme }}{% endblock %}
{% block type %}{{ theme }}{% endblock %}
{% block content %}
<div class="life_left_block">
    <div class="life_left_text">
        <p style="margin-bottom: 1.5%;">Артек <span style="color: #4E6D76; font-size: 6px; margin-left: 2%;">15</span></p>
        <p style="margin-bottom: 1.5%;">ИТ</p>
        <p style="margin-bottom: 1.5%;">кино</p>
        <p style="margin-bottom: 1.5%;">литература</p>
        <p style="margin-bottom: 1.5%;">личное</p>
        <p style="margin-bottom: 1.5%;">мир вокруг</p>
        <p style="margin-bottom: 1.5%;">музыка</p>
        <p style="margin-bottom: 1.5%;">образование</p>
        <p style="margin-bottom: 1.5%;">путешествия</p>
        <p style="margin-bottom: 1.5%;">события</p>
        <p style="margin-bottom: 20%;">управление</p>
    </div>
</div>

<div class="life_right_block">

</div>
<style>
    @media screen and (max-device-width: 991px) {
    .literatyra{
        display: inline-block;
        color: #FF7B6F !important;
        font-size: 3.5vw !important;
    }}
</style>
{% endblock %}