{% extends 'syit/base_all.html' %}
{% load static %}
{% block title %}{{ theme }}{% endblock %}
{% block type %}{{ theme }}{% endblock %}
{% block content %}

<div style="background: #ffffff url({% static 'img/line_line.png' %}) repeat; position:absolute; height: 100%; width:3%"></div>
{% for i in data %}
<div>
    <div class="line_data_block">
        <p class="line_data_text"><span
                style="text-transform: uppercase; color: #FF7B6F; font-size: 36px; padding-right: 2%;">{{ i.id }}</span> {{ i.years }}
        </p>
    </div>
    <div>
        {% if i.image1 %}
            <img src="{{ i.image1.url }}" style="margin-left: 10%;" class="imgs line_photo">
        {% endif %}
        {% if i.image2 %}
            <img src="{{ i.image2.url }}" class="imgs line_photo">
        {% endif %}
        {% if i.image3 %}
            <img src="{{ i.image3.url }}" class="imgs line_photo">
        {% endif %}
        {% if i.image4 %}
            <img src="{{ i.image4.url }}" class="imgs line_photo">
        {% endif %}
    </div>
    <div class="line_text_block">
        <p class="line_text">{{ i.text }}</p>
    </div>

    <style>
        .conn {
            display: none;
        }
        .imgs{
            border-radius:0px !important;
            height:20vh !important;
            width:auto;
        }
    </style>
</div>
{% endfor %}
</div>
{% if admin %}
<a href="/line/add" class="button_add">ADD NEW POSTS</a>
{% endif %}
{% endblock %}