{% extends 'syit/base_all.html' %}
{% load static %}
{% block title %}{{ theme }}{% endblock %}
{% block type %}{{ theme }}{% endblock %}
{% block content %}

<div class="line_line">
    <img src="{% static 'img/line_line.png' %}" width="20" height="110" style="margin-left: 0%; padding-top:35%; margin-top: 35%;">
    <img src="{% static 'img/line_line2.png' %}" width="15" height="100" style="margin-left: 0%;">
    <img src="{% static 'img/line_line2.png' %}" width="15" height="100" style="margin-left: 0%;">
    <img src="{% static 'img/line_line2.png' %}" width="15" height="100" style="margin-left: 0%;">
</div>
<div class="line_data_block">
    <p class="line_data_text"><span style="text-transform: uppercase; color: #FF7B6F; font-size: 36px; padding-right: 2%;">31</span> 2006</p>
</div>
<div>
    <img src="{% static 'img/line_photo1.png' %}" width="62" height="95" style="margin-left: 3%;" class="line_photo">
    <img src="{% static 'img/line_photo2.png' %}" width="76" height="95" class="line_photo">
    <img src="{% static 'img/line_photo3.png' %}" width="127" height="95" class="line_photo">
    <img src="{% static 'img/line_photo4.png' %}" width="127" height="95" class="line_photo">
</div>
<div class="line_text_block">
    <p class="line_text">Странный год: фиолетовая сигарета, задумчивый взгляд и две косички. Странный год: фиолетовая сигарета, задумчивый взгляд и две косички.
        Странный год: фиолетовая сигарета, задумчивый взгляд и две косички. Странный год: фиолетовая сигарета, задумчивый взгляд и две косички. </p>
</div>


{% endblock %}