<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/all.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/all.js' %}"></script>
</head>
<body style="background:url('{% static "img/Page_Index.png" %}') no-repeat center center fixed;
-webkit-background-size: cover; -moz-background-size: cover;
background-size: cover; -o-background-size: cover;">
<div class="float-right nav">
    <div class="wrapper about_topline">
        <div class="text_content">
            <p class="text_tag">Литература</p>
            <p class="text_header">Смог ли Питер Джексон стать властелином?</p>
            <p class="text_data">31.12.2018</p>
            <p class="text_description">Писать о «Властелине колец» очень трудно, вне зависимости от того, о книге или о фильме идет речь.
                Это самая культовая книга ХХ века в прямом значении этого слова. Последствия этого культа можно перечислять до
                бесконечности: это и огромное количество языков, на которые переведена книга, и необозримый реестр работ, посвященных
                этому феномену культуры, и тысячи художников, создающих разножанровые графические воплощения толкиеновских сюжетов, и
                настоящие армии так называемых «толкиенутых» — людей, сделавших увлечение Толкиеном не просто хобби, а стержнем своей
                повседневной жизни.</p>
            <p class="text_stars"> <img src="{% static 'img/life_stars.png' %}" width="63" height="16"> </p>
            <p class="text_text_block">Представление о размахе толкиеновского движения хотя бы в нашей стране можно составить, посмотрев
                на центральный сайт объединения этих людей — <span class="text_red"> «Арду на Куличках»</span>. Действительно впечатляет, особенно если учесть, что даже
                этот огромный информационный портал — капля в море по сравнению с англоязычными интернет-ресурсами! Назвать такое движение
                субкультурой даже язык не поворачивается — по объему и количеству задействованных в нем людей оно во много раз превышает
                все направления и ответвления, например, модернизма начала ХХ века.
            </p>
            <p class="text_text_block">Мне не хотелось бы сейчас вдаваться в размышления
                относительно культурных, социальных или интеллектуальных аспектов трилогии английского профессора; на эту тему есть
                достаточное количество работ, в которых многие темы разработаны поистине филигранно. Интереснее другое — в чем причина
                этого поистине феноменального воздействия одной книги на сознание и судьбы миллионов людей вне зависимости от их языковой,
                территориальной или ментальной принадлежности? Почему современные историки и социологи лишь разводят руками, признавая
                очевидный факт: такой популярностью в истории человечества пользовалась только Библия.
            </p>
            <div class="text_hobbit" style="text-align: center; margin-bottom: 0%; margin-top: 5%;"><img src="{% static 'img/text_hobbit.png' %}" width="340" height="180"></div>
            <p class="text_photo_text">А это кто это у нас с лампочкой прется на Ородруин?</p>
            <p class="text_h" style="font-size: 18px;">Заголовок первого уровня</p>
            <p class="text_text_block">Наконец, последним немаловажным фактором этого феномена явилась исключительная ориентированность
                героев Толкиена на добро и созидание. Человек, родившийся еще в викторианской Англии, бывший очевидцем двух страшнейших в
                истории человечества войн, являвшийся уважаемым ученым мужем, стал писать в уже взрослом состоянии... сказки. Проявилось
                естественное человеческое стремление говорить о светлом и хорошем, которое не случайно мгновенно было подхвачено огромным
                количеством поклонников — для людей ХХ века доброта и свет были товаром штучным и подчас весьма дефицитным.</p>
            <p class="text_h" style="font-size: 16px;">Заголовок второго уровня</p>
            <p class="text_text_block">Не берусь утверждать, что перечисленные факторы оказались единственными, но то, что известность
                Толкиена возникла не без их участия, — несомненно. Но разговор наш все-таки не о книге, а о вышедшем недавно на экраны
                мира одноименном фильме. Если быть совсем точным, то об экранизации первой части трилогии, называемой «Братство кольца».
                Перед тем как приступить непосредственно анализу, необходимо определить, каковы вообще критерии хорошего фильма по хорошей
                книге.</p>
            <p class="text_h" style="font-size: 14px;">Заголовок третьего уровня</p>
            <p class="text_text_block">Экранизация — вещь в принципе достаточно спорная по определению именно в силу размытости так
                называемых границ жанра. Что считать хорошим фильмом — близость к исходному тексту, оригинальное воплощение режиссерского
                видения или просто удачное актерское решение заведомо известного сюжета? Однозначный ответ на этот вопрос дать непросто.
                А с «Властелином Колец» ситуация усугубляется еще и тем, что трилогия малокинематографична, т.е. перенести ее с бумаги на
                экран невероятно сложно: огромный объем (около 1000 страниц), отсутствие незначительных сюжетный линий, толкиеновская
                неспешность повествования. </p>
            <div class="text_box"><div class="text_box_text">Поэтому неслучайно то, что эта <b class="text_box_text">книга</b>, появившаяся около полувека назад, до
                сих пор не находила мастера, который бы отважился на киновоплощение. Я не случайно употребляю здесь глагол «отважиться»,
                ибо взяться за такое дело значило бы совершить действительно мужественный поступок.</div></div>
            <p class="text_text_block">Экранизация — вещь в принципе достаточно спорная по определению именно в силу размытости так
                называемых границ жанра. Что считать хорошим фильмом — близость к исходному тексту, оригинальное воплощение режиссерского
                видения или просто удачное актерское решение заведомо известного сюжета? Однозначный ответ на этот вопрос дать непросто.
                А с «Властелином Колец» ситуация усугубляется еще и тем, что трилогия малокинематографична, т.е. перенести ее с бумаги на
                экран невероятно сложно: огромный объем (около 1000 страниц), отсутствие незначительных сюжетный линий, толкиеновская
                неспешность повествования. </p>
            <p class="text_text_block">Давайте рассмотрим то положение, в котором оказался режиссер Питер Джексон, «покусившийся на святыню». На первый взгляд,
                все выглядит довольно радужно: за основу берется всем известная и всеми любимая книга; фильм до этого снимался в далеком
                1978 году, но об этом уже мало кто вспоминает, то есть за счет картины, если она получится, можно прославиться; снимать
                сказку, аудиторией которой априори являются и дети, и взрослые — дело выгодное. Не работа, а сплошное удовольствие! Но
                присмотревшись в ситуации повнимательнее, начинаешь понимать, что не все так радужно, что краски и настроение здесь
                соответствуют скорее не милому и теплому Ширу, а зловещему Мордору.</p>
            <div class="text_vertical">
                <p class="text_vertical_text">«...разветвленное дерево книги выросло на почве научных интересов и увлечений автора. Как специалиста по истории
                литературы, прежде всего английской, Толкиена огорчало то, что мифологические и эпические предания древнейших обитателей
                Британии не сохранились. Как лингвист, он увлекался созданием собственных языков. Как филолог, восхищался красотой и
                сложностью староанглийской аллитерационной поэзии. С другой стороны, Толкиен любил и хорошо знал природу Англии и обычаи
                ее народа. Первыми ростками на этой почве, еще совершенно не предвещавшими будущий расцвет, были опыты по созданию
                «своего» языка на основе финского, упражнения в аллитерационном стихосложении».</p>
                <p class="text_vertical_text" style="margin-bottom: 5%;"><b class="text_vertical_text">Алина Немирова,</b> исследователь творчества Толкиена</p>
            </div>
            <p class="text_text_block">И что это доказывает? Если бы экранизация потерпела однозначное фиаско, все бы закончилось через неделю после мировой
                премьеры 19 декабря прошлого года. Но показ фильма не только не остановил шквал мнений и откликов, но стал искрой,
                от которой разгорелось такое пламя, что груда сломанных вокруг «Властелина Колец» копий превышает все мыслимые пределы.
                На мой взгляд, это свидетельство если не успеха, то уж точно неоднозначности кинематографической интерпретации.</p>
            <p class="text_notice">Опубликовано в «Учительской газете», <span class="text_notice" style="color: #FF5349;"> №19 за 2002 год</span></p>
        </div>
    </div>
</div>
</body>
</html>
