{% extends 'syit/base_all.html' %}
{% load static %}
{% block title %}{{ theme }}{% endblock %}
{% block type %}{{ theme }}{% endblock %}
{% block content %}
<style>
    .ssil_{
        font-size: 100% !important;
    }
</style>
<div class="h-100">
    <div class="h-100 left_work">
        <div class="wk_l">
            <table style="margin-top: 5vh" class="life_left_text">
                {% for i, item in work_years.items %}
                    <tr class="life_years">
                        {% for j, it in item.items %}
                            {% if it == 0 %}
                                <td class="tds"><a class="ssil_" style="pointer-events: none; color:rgba(217, 228, 223, 1) !important;">{{ j }}</a></td>
                            {% else %}
                                <td class="tds"><a class="ssil_" href="/work/year/{{ j }}">{{ j }}</a></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <div class="work_line"></div>
            <div class="work_other_project" style="margin-top:10px">
                <a style="font-size:80%; color:rgba(235, 87, 87, 1) !important">Другие проекты</a>
            </div>
            <div class="work_line"></div>
            <div class="work_img">
                <img src="{% static 'img/life_computer.png' %}" width="70" height="60" style="margin-top: 20%; margin-bottom: 10%; margin-left: 12%;">
                <p class="life_left_end">© 2002 - 2019, Юрий Ээльмаа</p>
            </div>
        </div>
    </div>
    <div class="work_winos float-right">
        <div class="work_about_middle_block">
            <p class="work_about_middle_text" style="line-height: 1.2em;"> Я всю жизнь живу и работаю в образовании. Был
                учеником → студентом → аспирантом. Работал в школе, организациях повышения квалификации, вузах,
                крупнейшем детском центре «Артек». Преподавал сам, учил других, управлял, создавал проекты. Думаю, что
                больше, чем за 20 лет работы научился что-то видеть в системе образования.<br/><br/>В этом разделе
                размещены мои тексты, которые написаны на разных этапах профессиональной деятельности.<br/><br/>Написанные
                не на работе, а по личному размышлению, тексты про образование, можно найти в разделе «По жизни» по
                одноименному тегу.</p>
        </div>
        <div>
        {% for i in data %}
            <div class="float-left work_file">
                {% if '.pdf' in i.name_file %}
                    <img class="img_file" src="{% static 'img/pdf.png' %}" width="32" height="42">
                {% else %}
                    <img class="img_file" src="{% static 'img/url.png' %}" width="32" height="42">
                {% endif %}
                <div class="work_img_text">
                    <div>
                        {% if '.pdf' in i.name_file %}
                            <a href="/user_images/work_document/{{ i.name_file }}" style="color: black" class="work_fine_name">{{ i.title }}</a>
                        {% else %}
                            <a href="{{ i.name_file }}" target="_blank" style="color: black" class="work_fine_name">{{ i.title }}</a>
                        {% endif %}
                    </div>
                    <div>
                        <p class="work_bottom_data_file">{{ i.title_low }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% if admin %}
<a href="/work/add" class="button_add"> ADD NEW POSTS </a>
{% endif %}
{% endblock %}