<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/all.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/all.js' %}"></script>
</head>
<body style="background:url('{% static "img/Page_Index.png" %}') no-repeat center center fixed;
-webkit-background-size: cover; -moz-background-size: cover;
background-size: cover; -o-background-size: cover;">
<div class="float-right nav">
    <div class="wrapper about_topline">
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <img class="phone_img" src="{% static 'img/home_mobile.png' %}">
                <div style="text-align: center;">
                    <a class="navbar-brand text-nav-left" href="#">{% block type %}{% endblock %}</a>
                    <br />
                    <a class="literatyra">ЛИТЕРАТУРА</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="custom-toggler nav_bot navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav menu" style="font-size:10px;">
                        <a class="nav-item nav-link menu-text" href="/about">ABOUT</a>
                        <a class="nav-item nav-link menu-text" href="/life">ПО ЖИЗНИ</a>
                        <a class="nav-item nav-link menu-text" href="/work">ПО ДЕЛУ</a>
                        <a class="nav-item nav-link menu-text" href="/line">ЛИНЕЙКА РОСТА</a>
                        <a class="nav-item nav-link menu-text" href="/cv">CV</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="text-content">
            {% block content %}{% endblock %}
        </div>
        {% if conn %}
        <style>
        .nav{
            margin-right:0%;
            }

        </style>
        <div class="nav_connect" style="position:relative">
            <div class="conn">
                <a href="#"><img src="{% static 'img/f_b.png' %}" width="35px" height="35px"></a>
            </div>
            <div class="conn">
                <a href="#"><img src="{% static 'img/vk.png' %}" width="35px" height="35px"></a>
            </div>
            <div class="conn">
                <a href="#"><img src="{% static 'img/mail.png' %}" width="35px" height="35px"></a>
            </div>
            <div style="position: absolute; bottom: 5%;">
                <img src="{% static 'img/2002-2020.png' %}" width="10" height="141">
            </div>
        </div>
        {% else %}
            <style>
                .about_top  line{
                width:100%;
                }
            </style>
        {% endif %}
    </div>
</div>
</body>
</html>