<!DOCTYPE html>
{% load static %}
<html lang="en">
<style>
    @media screen and (max-device-width: 991px) {
        .b{display:none;}
        .bod{
            background:url('{% static "img/podl.png" %}') no-repeat center center fixed !important; background-size: 100% 100% !important;
        }
        nav{
        background: rgba(196, 196, 196, 0.48);
        }
    }
</style>
<button class="b" style="left:41.2%; top:18%; width:3.5vh; height:3.5vh; background-color:blue; position:absolute; border: none; border-radius: 40px;" onclick="window.location.href = '/about';"></button>
<button class="b" style="left:44.8%; top:40.2%; width:3.5vh; height:3.5vh; background-color:blue; position:absolute; border: none; border-radius: 40px;" onclick="window.location.href = '/life';"></button>
<button class="b" style="left:56.2%; top:42.3%; width:3.5vh; height:3.5vh; background-color:blue; position:absolute; border: none; border-radius: 40px;" onclick="window.location.href = '/cv';"></button>
<button class="b" style="left:47.5%; top:51%; width:3.5vh; height:3.5vh; background-color:blue; position:absolute; border: none; border-radius: 40px;" onclick="window.location.href = '/work';"></button>
<button class="b" style="left:48.2%; top:72%; width:3.5vh; height:3.5vh; background-color:blue; position:absolute; border: none; border-radius: 40px;" onclick="window.location.href = '/';"></button>
<button class="b" style="left:63.8%; top:66%; width:3.5vh; height:3.5vh; background-color:blue; position:absolute; border: none; border-radius: 40px;" onclick="window.location.href = '/line';"></button>

<head>
    <title>EELMAA.NET</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/all.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</head>
<body class="bod" style="background:url('{% static "img/Page_Index.png" %}') no-repeat center center fixed; background-size: 100% 100%;">
<div class="start_nav" style="display:inline-block; width:100%">
    <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand text-nav-left float-left" style="font-size:150% !important; padding:10%; color: #EB5757 !important;">EELMA.NET</a>
                <button style="display:inline-block; background-color:#447D8D; border-radius:4ч0%;" class="float-right navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav menu" style="font-size:10px;">
                        <a class="nav-item nav-link menu-text" href="/about">ABOUT</a>
                        <a class="nav-item nav-link menu-text" href="/life">ПО ЖИЗНИ</a>
                        <a class="nav-item nav-link menu-text" href="/work">ПО ДЕЛУ</a>
                        <a class="nav-item nav-link menu-text" href="/line">ЛИНЕЙКА РОСТА</a>
                        <a class="nav-item nav-link menu-text" href="/cv">CV</a>
                    </div>
                </div>
            </nav>
</div>
</body>
</html>